<a href="https://colab.research.google.com/github/thiagoreys123/Curso_Python_Guanabara/blob/main/09_Estruturas_de_Repeti%C3%A7%C3%A3o_(For).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# For em Listas
nomes_cidades = ['São Paulo', 'Londres', 'Tóquio', 'París']
for nome in nomes_cidades:
    print(nome)

São Paulo
Londres
Tóquio
París

In [ ]:
# While
contador = 0
nomes_cidades = ['São Paulo', 'Londres', 'Tóquio', 'París']
while contador < len(nomes_cidades):
    print(nomes_cidades[contador])
    contador = contador + 1

São Paulo
Londres
Tóquio
París

In [ ]:
# For em Tuplas
nomes_cidades = 'São Paulo', 'Londres', 'Tóquio', 'París'
for nome in nomes_cidades:
    print(nome)

São Paulo
Londres
Tóquio
París

In [ ]:
# For em Dicionários
cidade = {
    'nome': 'São Paulo',
    'estado': 'São Paulo',
    'populacao_milhoes': 12.2
}
for chave in cidade:
    print (f'{chave}: {cidade[chave]}')

nome: São Paulo
estado: São Paulo
populacao_milhoes: 12.2

In [ ]:
# Alterar valores da lista
nomes_cidades = ['São Paulo', 'Londres', 'Tóquio', 'París']

for nome in nomes_cidades:
    nome = 'Rio de Janeiro'
    print(nome)

for posicao in range(len(nomes_cidades)):
    nomes_cidades[posicao] = 'Rio de Janeiro'
print(nomes_cidades)

Rio de Janeiro
Rio de Janeiro
Rio de Janeiro
Rio de Janeiro
['Rio de Janeiro', 'Rio de Janeiro', 'Rio de Janeiro', 'Rio de Janeiro']

In [ ]:
# Segundo a aula, o primeiro método era pra da errado. Porém, como pode ser visto, deu certo, só que de uma forma diferente.

In [ ]:
# Função Range (Gera listas)
print(list(range(10)))
print(list(range(2,10)))
print(list(range(2,10,2)))
print(list(range(10,0,-1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]