<a href="https://colab.research.google.com/github/thiagoreys123/Curso_Python_Guanabara/blob/main/9_Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- Tuplas são imutáveis.
- É possível adicionar variáveis de todos os tipos em uma mesma tupla.
- **Sintaxe de chamada:** Tupla ( ); Lista [ ]; Dicionário { }.

In [ ]:
lanche = ('Hambúrguer', 'Suco', 'Pizza', 'Pudim')

print(lanche)
print(lanche[0:3])
print(lanche[1:])

('Hambúrguer', 'Suco', 'Pizza', 'Pudim')
('Hambúrguer', 'Suco', 'Pizza')
('Suco', 'Pizza', 'Pudim')

In [ ]:
lanche = ('Hambúrguer', 'Suco', 'Pizza', 'Pudim')

for c in lanche:
  print(c)
print('---------------')
for cont in range (0, len(lanche)):
  print(lanche[cont])
print('---------------')
for pos, comida in enumerate(lanche):
  print(f'Posição {pos}: {comida}')

Hambúrguer
Suco
Pizza
Pudim
---------------
Hambúrguer
Suco
Pizza
Pudim
---------------
Posição 0: Hambúrguer
Posição 1: Suco
Posição 2: Pizza
Posição 3: Pudim

In [ ]:
lanche = ('Hambúrguer', 'Suco', 'Pizza', 'Pudim')

print(sorted(lanche))
print(lanche)

['Hambúrguer', 'Pizza', 'Pudim', 'Suco']
('Hambúrguer', 'Suco', 'Pizza', 'Pudim')

In [ ]:
a = (2,5,4)
b = (5,8,1,2)
c = a + b
print(c)
print(f'Quantas vezes aparece o 5? {c.count(5)}.')
print(f'Em que posição está o 8? {c.index(8)}.')
print(f'Em que posição está o primeiro 5? {c.index(5)}.')
print(f'Em que posição está o segundo 5? {c.index(5,2)}.')  # Procurar a partir da posição 2

(2, 5, 4, 5, 8, 1, 2)
Quantas vezes aparece o 5? 2.
Em que posição está o 8? 4.
Em que posição está o primeiro 5? 1.
Em que posição está o segundo 5? 3.

In [ ]:
# Desafio 72 - Número por extenso

numeros = ('Zero','Um','Dois','Três','Quatro','Cinco','Seis','Sete','Oito','Nove','Dez')
n = int(input('Digite um numero inteiro de 0 a 10: '))
while n < 0 or n > 10:
  n = int(input('Digite um numero inteiro de 0 a 10: '))
print(numeros[n])

Digite um numero inteiro de 0 a 10: 77
Digite um numero inteiro de 0 a 10: 55
Digite um numero inteiro de 0 a 10: 0
Zero

In [ ]:
# Desafio 73 - Tuplas com times de futebol

times = ('Palmeiras','Internacional','Fluminense','Corinthians','Flamengo','Atlético-MG','Fortaleza','São Paulo','América-MG','Botafogo','Santos','Goiás','Bragantino','Coritiba','Cuiabá','Ceará','Atlético-GO','Avaí','Juventude')
print('Os 5 primeiros colocados são:')
for c in range(0,5):
  print(times[c])
print('-----------------------')
print('Os 4 últimos colocados são:')
for c in range(-4,0):
  print(times[c])
print('-----------------------')
print('Times em ordem alfabética:')
print(sorted(times))
print('-----------------------')
print(f'O Fluminense está em {times.index("Fluminense") + 1}º lugar.')

Os 5 primeiros colocados são:
Palmeiras
Internacional
Fluminense
Corinthians
Flamengo
-----------------------
Os 4 últimos colocados são:
Ceará
Atlético-GO
Avaí
Juventude
-----------------------
Times em ordem alfabética:
['América-MG', 'Atlético-GO', 'Atlético-MG', 'Avaí', 'Botafogo', 'Bragantino', 'Ceará', 'Corinthians', 'Coritiba', 'Cuiabá', 'Flamengo', 'Fluminense', 'Fortaleza', 'Goiás', 'Internacional', 'Juventude', 'Palmeiras', 'Santos', 'São Paulo']
-----------------------
O Fluminense está em 3º lugar.

In [ ]:
# DESAFIO 74 - Maior e Menor valor

from random import randint
numeros = (randint(1,10),randint(1,10),randint(1,10),randint(1,10),randint(1,10))
print(f'Eu sorteei os valores: {numeros}')
print(f'O maior valor sorteado foi {max(numeros)}')
print(f'O menor valor sorteado foi {min(numeros)}')

Eu sorteei os valores: (1, 3, 2, 8, 6)
O maior valor sorteado foi 8
O menor valor sorteado foi 1

In [ ]:
# DESAFIO 75 - Análise de dados em uma Tupla

print('Digite quatro números inteiros: ')

n = (int(input()),int(input()),int(input()),int(input()))
print('Os números que vc digitou foram: ', end='')
for numeros in n:
  print(numeros, end=' ')
print('')
vezes = n.count(9)
if vezes == 1:
  print(f'O 9 aparece 1 vez.')
elif vezes > 1:
  print(f'O 9 aparece {vezes} vezes.')
else:
  print('Você não digitou o 9.')

if 3 in n:
    print(f'O 3 está na {n.index(3) + 1}ª posição.')
else:
  print(f'Você não digitou o 3.')

print(f'Números pares que você digitou: ', end='')
pares = 0
for par in n:
  if par % 2 == 0:
    print(par, end=' ')
    pares =+ 1
if pares == 0:
  print('Nenhum.')

Digite quatro números inteiros:
1
3
5
9
Os números que vc digitou foram: 1 3 5 9
O 9 aparece 1 vez.
O 3 está na 2ª posição.
Números pares que você digitou: Nenhum.

In [ ]:
# DESAFIO 76 - Listas de preços com Tuplas

produtos = ('Lápis',1.75,'Borracha',2.00,'Caderno',15.90,'Estojo',25.00,'Transferidor',4.20,'Compasso',9.99,'Mochila',120.32,'Canetas',22.30,'Livro',34.90)

print("-"*40)
print(f'{"Lista de Produtos":^40}')
print("-"*40)
for n in range(0, len(produtos),2):
  print(f'{produtos[n]:.<30} R$ {produtos[n+1]}')
print('-'*40)

----------------------------------------
           Lista de Produtos
----------------------------------------
Lápis......................... R$ 1.75
Borracha...................... R$ 2.0
Caderno....................... R$ 15.9
Estojo........................ R$ 25.0
Transferidor.................. R$ 4.2
Compasso...................... R$ 9.99
Mochila....................... R$ 120.32
Canetas....................... R$ 22.3
Livro......................... R$ 34.9
----------------------------------------

In [ ]:
# DESAFIO 76 - Mostrando vogais nas palavras

palavras = ('Aprender','Programar','Palavrao','Computador','Python','Mochila','Caderno','Mouse','Teclado')

for p in palavras:
  print(f'Na palavra "{p}" temos as vogais:',end=' ')
  for letra in p:
    if letra in 'aeiou':
      print(letra, end=' ')
  print('')

Na palavra "Aprender" temos as vogais: e e
Na palavra "Programar" temos as vogais: o a a
Na palavra "Palavrao" temos as vogais: a a a o
Na palavra "Computador" temos as vogais: o u a o
Na palavra "Python" temos as vogais: o
Na palavra "Mochila" temos as vogais: o i a
Na palavra "Caderno" temos as vogais: a e o
Na palavra "Mouse" temos as vogais: o u e
Na palavra "Teclado" temos as vogais: e a o